@import '../../../styles/colors';

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  position: relative;
  margin-bottom: 5rem;
  height: 35rem;
  .slide {
    position: absolute;
    display: flex;
    height: 35rem;
    width: 100%;
    &-bg {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';

        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 11%,
          rgba(255, 255, 255, 0) 100%
        );

      }

      &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-pane {
      position: absolute;
      width: 45%;
      top: 5rem;
      left: 5rem;
      .title {
        font-size: 1.9rem;
        background-color: rgba(0, 0, 0, 0.5);;
        padding: 8px;
      }

      .meta {
        font-size: 1.4rem;

        .info {
          display: flex;
          > span {
            &:not(:last-child):after {
              content: '|';
              margin-right: 9px;
              margin-left: 9px;
            }
          }

          .rating {
            display: flex;
            align-items: center;
            .app-icon {
              margin-right: 5px;
              color: #d4af37;
            }

            &-value {
              color: $white;
            }
          }

          .column {
            display: flex;
            flex-direction: column;
          }

          .row {
            display: flex;
            flex-direction: row;
          }

          .rating, .review, .release {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 8px;
            margin-bottom: 8px;
          }
        }
      }

      .desc {
        font-size: 1.2rem;
        line-height: 2;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical
      }
    }
  }
}
